<div class="row-fluid"><button class="btn btn-primary" data-bind="click: checkPlugins, enable: !checking(), css: {disabled: checking()}"><i class="icon icon-spinner icon-spin" data-bind="visible: checking"></i> Check Compatibility </button></div>
<div class="row-fluid" data-bind="visible: errorMessage"><small style="color: red;">There was an error retrieving last updated dates, either due to rate limiting on Github's API (60 requests per hour) or a plugin's homepage is not configured for a Github repository. Please try again later.</small></div>
<h4 data-bind="visible: incompatible().length > 0">Incompatible Python 3 Plugins<br/><small>Use the links below to open an issue in the linked plugin's repository to request Python 3 compatibility.</small></h4>
<div class="row-fluid" data-bind="foreach: incompatible">
	<div class="row-fluid"><a href="#" target="_blank" data-bind="attr: {href: homepage}, text: title"></a></div>
</div>